
/* Header Styles */
.header {
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

/* Sidebar Styles */
.sidebar {
  background-color: #747171;
  padding-top: 120px;
  position: fixed;
}


.sidebar-menu li a span{padding-left: 5px;}

/* Content Styles */
main {
padding-top:6em;
}

/* Footer Styles */
.footer {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  margin-top:19em;
  width: 84%;
  margin-left: 13em;
  padding: 1em 0em;
}

/* Movie View Styles */
.movie-view {
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .header {
    padding: 5px 0; /* Reduce header padding for smaller screens */
  }

  main {
    margin-left: 0; /* Reset main content margin for smaller screens */
  }
}